@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Ingresar Curso";
}

<h1 class="d-flex justify-content-center">Ingresar Curso</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Ingresar Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CursoID">Editar</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CursoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
