@model IEnumerable<Inscripcion>

@{
    ViewData["Title"] = "Generar Inscripción";
}

<h1 class="d-flex justify-content-center">Generar Inscripción</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Ingresar Inscripción</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Horario)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.InscripcionID">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.InscripcionID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
